/* #game-box {
    /* width: 600px; 
    height: 600px;
    overflow: hidden;
    border: 5px solid rgb(0, 0, 0);
    padding: 50px;
    margin: 50px;
    position: relative;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  } */

#game-box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #000000;
  padding: 10px;
  height: 600px;
  width: 800px;
  box-shadow: 3px 3px;
  overflow: hidden;
 
}

#start {
    height: 30px;
    top: 50%;
    position: relative;
}


.target {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.822);
  
}

/* #scoreboard-button {
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  /* -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
/* } */ 

#button-container {
    margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#login-form {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}